<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloCore-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HelloCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HelloNetwork.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OFAppInfo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OFConvenience.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OFLog.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OFPersistence.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>HelloColor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HelloCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>HelloNetwork</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OFAppInfo</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OFConvenience</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OFLog</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OFPersistence</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
